name: 'build-test'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          npm install
      - run: |
          npm run all
      - run: |
          if [ "$(( RANDOM % 2 ))" -ne 0 ]; then
            echo "uh oh!!!" && exit 1
          fi  
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        id: wait-for-green
        with:
          token: '${{ secrets.GITHUB_TOKEN }}'
          ignored_checks: 'test'
      - name: Fail if checks have failed
        if: steps.wait-for-green.outputs.success != 'true'
        run: echo "Status checks failed with status ${{ steps.wait-for-green.outputs.success }}!" && exit 1
